@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Source+Sans+Pro:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #F9EBDE;
}

li, a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ebabe2;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
  position: sticky;
  top: 0;
  width: 100%;

}

.logo {
    cursor: pointer;
    margin-left: 3%;
    border-radius: 20px;
    border-style: none; 
  }

.nav-menu {
    list-style: none;
  }

.nav-menu li {
    display: inline-block;
    padding: 0 30px;
  }

.nav-menu li a {
    transition: all 0.5s ease 0s;
  }

.nav-menu li a:hover {
    color: rgb(0, 0, 0);
  }

.content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 4% 7.5% 8% 7%;
    box-shadow: 2px 2px 5px rgb(133, 133, 133);
    
  }
  
h1.title {
    font-size: 50px;
    color: #815854;
    margin: 4% 7.5% 0% 7%;
  }

#feature-image{
  gap: 1rem 2rem;
}

.content p {
  /* margin-top: -30px; */
  color: #815854;
  font-size: 17px;
  text-align: justify;
  font-weight: 100;
  margin: 4% 7.5% 8% 7%;
}

button {
  padding: 2%;
  background-color: #d57edd;
  color: white;
  border-radius: 20px;
  border-style: none;
  margin: 0% 7.5% 2% 7%;
  font-size: 20px;
  transition: 0.7s ease;
}

button:hover {
  transition: 0.5s ease-in-out;
  background-color: white;
  color: #815854;
}

.feature-main-title {
    text-align: center;
    font-size: 30px;
    color: #815854;
    margin-top: 160px;
    cursor: pointer;
  }

h2 {
  font-size: 35px;
}

.galeri{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
div img{
  width: 400px;
  height: 300px;
  border: 20px solid #ff3d0036;
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px #00000042;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
}
div img:hover{
  filter: grayscale(1);
  transform: scale(1.03);
}
.red {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 4% 4% 4% 4%;
    margin: 4% 7.5% 8% 7%;
  
    border-radius: 35px;
    color: #815854;
    box-shadow: 2px 2px 5px rgb(133, 133, 133);
    background-color: white;
    overflow: hidden;
  }

#red-grape {
    padding-left: 8%;
    text-align: justify;
  }

.green {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6% 3% 6% 5%;
    margin: 4% 7% 8% 7.5%;
  
    border-radius: 35px;
    color: #815854;
    box-shadow: 2px 2px 5px rgb(133, 133, 133);
    background-color: white;
    overflow: hidden;
  }

#green-grape {
    padding-right: 10%;
    text-align: justify;
  }

.grape {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 3.5% 6% 3.5% 4%;
    margin: 4% 7% 8% 7.5%;
  
    border-radius: 35px;
    color: #815854;
    box-shadow: 2px 2px 5px rgb(133, 133, 133);
    background-color: white;
    overflow: hidden;
  }

#grape-purple {
    padding-left: 5%;
    text-align: justify;
  }
  
  #produk {
    font-size: 25px;
    text-align: center;
    color: #85514c;
  }

#produk-description {
    text-align: center;
    padding-bottom: 5%;
    margin-top: -1%;
    color: #815854;
  }
#about-us-title {
    font-size: 25px;
    text-align: center;
    color: #815854;
  }

#about-us-description {
    text-align: center;
    padding-bottom: 5%;
    margin-top: -1%;
    color: #815854;
  }

.card {
  width: 350px;
  height: 420px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  border: 6px solid white;
  margin: auto;
  margin-bottom: 5%;
  box-shadow: 2px 2px 5px rgb(133, 133, 133);
}

.image {
  position: absolute;
  inset: 0;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: 0.5s;
  margin-bottom: 5%;
  box-shadow: 2px 2px 5px rgb(133, 133, 133);
}

.card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -117%;
  position: absolute;
  background: #2b34673a;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: white;
  text-align: justify;
  transition: 1s;
}

.card:hover .card-body{
  right: 0;
}

.profile-title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

.profile-description {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}
 
main aside .social-media {
  height: 100%;
  display: flex;
}
 
main aside .social-media ul {
  padding: 1.5rem 1rem;
  margin: auto;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #e27aae;
 
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
 
main aside .social-media li {
  list-style-type: none;
}
 
main aside .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  transition: all .1s ease-in-out;
}
 
main aside .social-media li a:hover {
  color: #89b0d9;
}

/* up */
 
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    background-color:#e99cdf;
    color: white;
  }

.footer .social .copyrigth {
    text-align: center;
    color: white;
  }

.footer .social a {
    font-size: 150%;
    border: 0px solid;
    width: 40px;
    height: 60px;
    line-height: 58px;
    display: inline-block;
    text-align: center;
  }

  @media screen and (max-width: 768px) {

    .navigation-container {
      flex-direction: column;
      width: 100%;
    }

    header.navigation-container .nav-menu ul {
      flex-wrap: wrap;
      column-gap: .5rem;
    }

    main {

      padding: auto;
      margin: 0 auto;
    }

    .content {
      display: flex;
      flex-wrap: wrap-reverse;
      text-align: center;
    }
    
    .content p {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .content-image {
      margin: auto;
      margin-bottom: -60px;
    }

    button {
      padding: 20px;
    }

    .feature-main-title {
      margin: auto;
    }

    .feature-description {
      margin: auto;
    }

    .Graphic {
      display: flex;
      flex-wrap: wrap;
    }

    #Graphic-Data {
      text-align: center;
      margin-left: -30px;
    }

    .tips {
      display: flex;
      flex-wrap: wrap;
    }

    #tips-and-fact {
      text-align: center;
      margin-left: 30px;
    }

    .consultation {
      display: flex;
      flex-wrap: wrap;
    }

    #Online-Consultation {
      text-align: center;
      margin-left: -25px;
    }

    .footer {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }

    #copyright {
      text-align: center;
    }
}

/* indek spin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.indek {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edccac;
}
.ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  list-style-type: none;
}

.ul li {
  position: relative;
  display: grid;
  place-items: center;
  width: 200px;
  height: 200px;
}

li .base {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 8px solid var(--color);
  border-left: 0px solid transparent;
  filter: drop-shadow(0 0 10px var(--color));
  animation: spin 8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateX(60deg) rotateZ(0);
  }
  100% {
    transform: rotateX(60deg) rotateZ(-360);
  }
}

li.base::after{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: 9px;
  left: 9px;
  border-radius: 50%;
  background-color: var(--color);
  
}
li .base, li .title, li .icon{
  position: absolute;
  color: #b5b5b5;
  transform: rotateX(60deg) rotateZ(-45deg);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

li .title{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  transform: rotateY(30deg) skewY(-24deg) translateY(0px);
  pointer-events: none;
  opacity: 0;
}
li .icon{
  display: grid;
  place-items: center;
  font-size: 80px;
  height: 100%;
  pointer-events: none;
}
.base:hover {
  filter: drop-shadow(0 0 10px var(--color));
  animation-play-state: paused;
}
.base:hover + title + .icon{
  transform: rotateY(30deg) skewY(-24deg) translateY(-160px);
  color: var(--color);
  filter: drop-shadow(0 0 3px var(--color));
  animation: wave ls ease-in-out infinite;
}
.base:hover +.title{
  transform: rotateY(30deg) skewY(-24deg) translateY(-90px);
  color: var(--color);
  text-shadow: 0 0 3px var(--color);
  transition-delay: 0.1s;
  opacity: 1;
  animation: wave ls ease-in-out infinite;
}

@keyframes wave {
  0%,
  100%{
    margin-bottom: 0;
  }
  50%{
    margin-bottom: 15px;
  }
}
/* animasi */
.slider {
  display: flex;
  height: auto;
  margin: auto;
  overflow: hidden;
  align-items: center;
}
.slider:before{
  position: absolute;
  z-index: 1;
  left: 0;
  content: "";
  width: 23.958%;
  height: 110px;
  background: linear-gradient(-90deg, hsla(0, 0%, 96,9%, 0), #f7f7f7)
}
.slider:after{
  position: absolute;
  right: 0;
  content: "";
  width: 23.958%;
  height: 110px;
  background: linear-gradient(
      90deg, 
      hsla(0, 0%, 96,9%, 0),
      hsla(0, 0%, 96,9%, 0,99%))
}
.slider .slider-track{
  display: flex;
  animation: scroll 15s linear infinite;
  -webkit-animation: scroll 15s linear infinite;
  width: calc(50px *10);
}
.slider .slide{
  display: flex;
}
.slider .slide img{
  width: 180px;
  height: 80px;
  padding: 10px;
  background-color: rgb(163, 71, 71);
  cursor: pointer;
  margin: 50px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@keyframes scroll{
  0%{
      -webkit-transform: translateX(calc(-50px * 5));
      transform: translateX(calc(-50px * 5));
  }
}
